.skills-container{
    padding: 7% 8%;
    background-color: #D3E6E5;
}

.skills-content{
    display: flex;
    flex-direction: column;

}

.skills-content .skills-head{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.skills-content .skills-head h3{
    font-family: "Noto Sans", sans-serif;
    font-size: 50px;
    color: #37364B;
    font-weight: 800;
    margin: 0;
}

.skills-info{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 50px;

}

.skills-info .skill-tab{
    background-color: #37364B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    padding: 8px 15px;
    min-width:220px;
    width: max-content;
}


.skills-info .skill-tab:hover p{
    color: #D3E6E5;
}

.skills-info .skill-tab .skill-icon{
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.skills-info .skill-tab .skill-name{
    font-size: 27px;
    color: #2A8381;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    margin: 10px;
  transition: 0.4s ease; 
}


/*  Responsive  */



@media(max-width:1200px){

    .skills-container{
        padding: 8% 5% 14%;
    }

    .skills-content .skills-head h3{
        font-size: 42px;
    }


    .skills-info .skill-tab .skill-icon{
        width: 40px;
        height: 40px;
    }

    .skills-info .skill-tab{
        padding: 14px 10px;
        min-width:190px;
        width: max-content;
        justify-content: space-around;
    }
    

    .skills-info .skill-tab .skill-name{
        font-size: 24px;
        margin: 0;
    }
}



@media(max-width:992px){

    .skills-container{
        padding: 8% 5% 14%;
    }

    .skills-content .skills-head h3{
        font-size: 42px;
    }


    .skills-info .skill-tab .skill-icon{
        width: 30px;
        height: 30px;
    }

    .skills-info .skill-tab{
        padding: 14px 10px;
        min-width:150px;
        width: max-content;
        justify-content: space-around;
    }
    

    .skills-info .skill-tab .skill-name{
        font-size: 20px;
        margin: 0;
    }
}


@media(max-width:768px){

    .skills-container{
        padding: 10% 5% 15%;
    }

    .skills-content .skills-head h3{
        font-size: 38px;
    }

    .skills-info{
        margin-top: 25px;
        gap: 20px;
    }

    .skills-info .skill-tab .skill-icon{
        width: 25px;
        height: 25px;
    }

    .skills-info .skill-tab{
        padding: 14px 0px;
        min-width:150px;
        width: max-content;
        justify-content: space-evenly;
    }
    

    .skills-info .skill-tab .skill-name{
        font-size: 18px;
        margin: 0;
    }
}


@media(max-width:576px){

    .skills-container{
        padding: 10% 5% 15%;
    }

    .skills-content .skills-head h3{
        font-size: 35px;
    }

    .skills-info{
        margin-top: 25px;
        gap: 20px;
    }

    .skills-info .skill-tab .skill-icon{
        width: 22px;
        height: 22px;
    }

    .skills-info .skill-tab{
        padding: 14px 0px;
        min-width:150px;
        width: max-content;
        justify-content: space-evenly;
    }
    

    .skills-info .skill-tab .skill-name{
        font-size: 15px;
        margin: 0;
    }
}

@media(max-width:480px){

    .skills-container{
        padding: 10% 5% 15%;
    }

    .skills-content .skills-head h3{
        font-size: 35px;
    }

    .skills-info{
        margin-top: 25px;
        gap: 20px;
    }

    .skills-info .skill-tab .skill-icon{
        width: 22px;
        height: 22px;
    }

    .skills-info .skill-tab{
        padding: 13px 0px;
        min-width:150px;
        width: max-content;
        justify-content: space-evenly;
    }
    

    .skills-info .skill-tab .skill-name{
        font-size: 15px;
        margin: 0;
    }
}