

.typing-span {
    font-weight: bold;
  }
  
  .cursor {
    display: inline-block;
    width: 1px;
    margin-left: 2px;
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  